<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>LIFEV001</servlet-name>
    <servlet-class>LIFE.V.LIFEV001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEV001</servlet-name>
    <url-pattern>/LIFEV002</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEV002</servlet-name>
    <servlet-class>LIFE.V.LIFEV002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEV002</servlet-name>
    <url-pattern>/LIFEV002Link</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA001</servlet-name>
    <servlet-class>LIFE.A.LIFEA001Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA001</servlet-name>
    <url-pattern>/LIFEA001</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA002</servlet-name>
    <servlet-class>LIFE.A.LIFEA002Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA002</servlet-name>
    <url-pattern>/LIFEA002</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA003</servlet-name>
    <servlet-class>LIFE.A.LIFEA003Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA003</servlet-name>
    <url-pattern>/LIFEA003</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA004</servlet-name>
    <servlet-class>LIFE.A.LIFEA004Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA004</servlet-name>
    <url-pattern>/LIFEA004</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA005</servlet-name>
    <servlet-class>LIFE.A.LIFEA005Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA005</servlet-name>
    <url-pattern>/LIFEA005</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA006</servlet-name>
    <servlet-class>LIFE.A.LIFEA006Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA006</servlet-name>
    <url-pattern>/LIFEA006</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA007</servlet-name>
    <servlet-class>LIFE.A.LIFEA007Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA007</servlet-name>
    <url-pattern>/LIFEA007</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA009</servlet-name>
    <servlet-class>LIFE.A.LIFEA009Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA009</servlet-name>
    <url-pattern>/LIFEA009</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEA002EX</servlet-name>
    <servlet-class>LIFE.A.LIFEA002EX</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEA002EX</servlet-name>
    <url-pattern>/LIFEA002EX</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEE000</servlet-name>
    <servlet-class>LIFE.E.LIFEE000Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEE000</servlet-name>
    <url-pattern>/LIFEE000</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEE001</servlet-name>
    <servlet-class>LIFE.E.LIFEE001Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEE001</servlet-name>
    <url-pattern>/LIFEE001</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEE002</servlet-name>
    <servlet-class>LIFE.E.LIFEE002Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEE002</servlet-name>
    <url-pattern>/LIFEE002</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEC001</servlet-name>
    <servlet-class>LIFE.C.LIFEC001Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEC001</servlet-name>
    <url-pattern>/LIFEC001</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEC002</servlet-name>
    <servlet-class>LIFE.C.LIFEC002Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEC002</servlet-name>
    <url-pattern>/LIFEC002</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEC003</servlet-name>
    <servlet-class>LIFE.C.LIFEC003Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEC003</servlet-name>
    <url-pattern>/LIFEC003</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEC004</servlet-name>
    <servlet-class>LIFE.C.LIFEC004Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEC004</servlet-name>
    <url-pattern>/LIFEC004</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFED001</servlet-name>
    <servlet-class>LIFE.D.LIFED001Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFED001</servlet-name>
    <url-pattern>/LIFED001</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFED002</servlet-name>
    <servlet-class>LIFE.D.LIFED002Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFED002</servlet-name>
    <url-pattern>/LIFED002</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFED003</servlet-name>
    <servlet-class>LIFE.D.LIFED003Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFED003</servlet-name>
    <url-pattern>/LIFED003</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFED004</servlet-name>
    <servlet-class>LIFE.D.LIFED004Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFED004</servlet-name>
    <url-pattern>/LIFED004</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEZ001</servlet-name>
    <servlet-class>LIFE.Z.LIFEZ001Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEZ001</servlet-name>
    <url-pattern>/LIFEZ001</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEZ002</servlet-name>
    <servlet-class>LIFE.Z.LIFEZ002Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEZ002</servlet-name>
    <url-pattern>/LIFEZ002</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEZ003</servlet-name>
    <servlet-class>LIFE.Z.LIFEZ003Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEZ003</servlet-name>
    <url-pattern>/LIFEZ003</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEZ004</servlet-name>
    <servlet-class>LIFE.Z.LIFEZ004Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEZ004</servlet-name>
    <url-pattern>/LIFEZ004</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LIFEZ005</servlet-name>
    <servlet-class>LIFE.Z.LIFEZ005Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LIFEZ005</servlet-name>
    <url-pattern>/LIFEZ005</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/LIFEV/LIFEV001.jsp</welcome-file>
  </welcome-file-list>
</web-app>